<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=764065833702089";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<header id="header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
  <div class="wrap">
          <p id="logo" itemprop="headline">
        <a href="https://www.malpractice-committee.tech.server-on.net">医療ミス調査会</a>
      </p>

  <div id="header-sns" class="sp-hide"><ul><li class="facebook_icon"><a href="https://www.facebook.com/%E5%8C%BB%E7%99%82%E3%83%9F%E3%82%B9%E8%AA%BF%E6%9F%BB%E4%BC%9A-1451712671799851/" target="_blank"><i class="fa fa-facebook-square"></i></li><li class="twitter_icon"><a target="_blank" href="https://twitter.com/MediMalpComm"><i class="fa fa-twitter-square"></i></a></li><li class="google_icon"><a target="_blank" href="https://plus.google.com/117212815815684530955"><i class="fa fa-google-plus-square"></i></li><li class="feedly_icon"><a target="_blank" href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttps%3A%2F%2Fwww.malpractice-committee.com%2Ffeed%2F"><i class="fa fa-rss"></i></a></li></ul></div>
        <div id="header-menu-tog"> <a href="#"><i class="fa fa-align-justify"></i></a></div>
  </div>
</header>

<!-- start global nav  -->
<!---->
<nav id="gnav" role="navigation" itemscope="itemscope" itemtype="http://scheme.org/SiteNavigationElement">
  <div class="wrap">
  <div id="gnav-container" class="gnav-container"><ul id="gnav-ul" class="clearfix"><li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-6"><a href="https://www.malpractice-committee.tech.server-on.net">トップ</a></li>
<li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156 hospital-info"><a href="https://www.malpractice-committee.tech.server-on.net/hospital-info/">病院一覧</a></li>
</ul></div>    </div>
</nav>
