<div class="post-share">
      
      <h4 class="post-share-title">SNSでもご購読できます。</h4>
      <div><h3><a href="https://www.facebook.com/MalpracticeCommittee">facebook</a></h3>		<div id="fb-root"></div>
		<div class="fb-page" data-href="https://www.facebook.com/MalpracticeCommittee" data-width="340"  data-height="432" data-hide-cover="false" data-show-facepile="true" data-tabs="false" data-hide-cta="false" data-small-header="false">
		<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/MalpracticeCommittee"><a href="https://www.facebook.com/MalpracticeCommittee">facebook</a></blockquote></div>
		</div>
		</div>    
    
        <aside class="post-sns">
          <ul>
            <li class="post-sns-twitter"><a href="https://twitter.com/MediMalpComm"><span>Twitter</span>でフォローする</a></li>
            <li class="post-sns-feedly"><a href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttps%3A%2F%2Fwww.malpractice-committee.tech.server-on.net%2Ffeed%2F"><span>Feedly</span>でフォローする</a></li>
          </ul>
        </aside>
      </div>
